p {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: l4px; 
	line-height: 16px; 
	width: 600px;
	background-color: antiquewhite; 
	opacity: 0.3
	padding: 10px;
	margin: 10px;
}
h1,h2{
	font-family: Arial, Helvetica, sans-serif;
	color: darkblue;
}
span { color: rgb(255, 0, 0);}
body{
	background-image: url("slike/05.jpg");
}

